// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trending-topics {
  //overflow: hidden;
}

.trending-topics .ttopic {
  width: 140px;
  height: 260px;
	margin: 0 10px 30px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
  white-space: nowrap;
}

.trending-topics .ttopic p {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trending-topics .entities {
  position: relative;
}

.trending-topics .entities p {
  font-weight: normal;
  margin: 0 0 3px 0;
}

.tooltip {
  display: none;
}

.trending-topics .entities p:hover + .tooltip {
  display: block;
  position: absolute;
  left: 140px;
  color: white;
  background-color: black;
  z-index: 10;
}
