// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trending-topics {
  overflow: hidden;
  padding: 0;
}

#trending-topics .row-fluid {
  overflow: hidden;
}

#trending-topics .span2 {
  color: white;
  background-color: #34495e;
  border: 1px solid #1abc9c;
  margin: 0;
  padding: 5px;
  text-align: center;
}

#trending-topics .ttopic {
  font-variant: small-caps;
  font-size: 18px;
}

#trending-topics .entities {
  color: #1abc9c;
  text-align: left;
}

#trending-topics .entities p {
  margin: 0 0 3px;
}